.about {
    background-image: url(../img/About_BG.jpg);
    height: 450px;
    &__img {
        float: right;
        padding: 60px 0;
        margin-left: 50px;
    }
    &__article {
        padding-bottom: 35px;
    }
    &__title {
        font-size: 36px;
        line-height: 54px;
        color: #FFF;
        padding: 60px 0 50px;
    }
    &__desc {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #FFF;
    }
    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 3px solid #2D5E5E;
        color: #FFF;
        width: 250px;
        height: 40px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 24px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        margin-right: 30px;
        &:hover, &:focus {
            opacity: .7;
        }
        &:active {
            opacity: .4;
        }
    }
}