.articles {
    background-image: url(../img/Articles-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    gap: 50px;
    margin-bottom: 28px;
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        @media screen and (max-width: 810px) {
            gap: 15px;
        }
    }
    &__img {
        @media screen and (max-width: 810px) {
            width: 75%;
        }
    }
    &__title {
        padding-top: 60px;
        font-size: 48px;
        line-height: 72px;
        color: #FFF;
    }
    &__link {
        margin: 25px 0 28px;
        display: inline-block;
        font-family: Oswald;
        font-size: 24px;
        line-height: 32px;
        text-decoration: none;
        color: #FFF;
        @media screen and (max-width: 810px) {
            font-size: 22px;
            line-height: 25px;
        }
    }
}