.counter {
    background-image: url(../img/counter-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0;
    @media screen and (max-width: 415px) {
            background-image: none;
            background-color: #D9D9D9;
    }
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 90px;
        padding: 60px 0;
        @media screen and (max-width: 810px) {
            grid-template-columns: repeat(3, 230px);
            gap: 10px;
        }
        @media screen and (max-width: 415px) {
            grid-template-columns: none;
            gap: 90px;
        }
    }
    &__article {
        display: grid;
        grid-template-rows: repeat(3, 33%);
        text-align: center;
        color: #FFF;
        @media screen and (max-width: 415px) {
            color: #000;
        }
    }
    &__main-title {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 900;
        line-height: 72px;
        @media screen and (max-width: 810px) {
            font-size: 38px;
        }
    }
    &__second-title {
        font-size: 24px;
        line-height: 32px;
        padding: 14px 0 20px;
        @media screen and (max-width: 810px) {
            font-size: 20px;
        }
    }
    &__desc {
        font-weight: 500;
        line-height: 24px;
        @media screen and (max-width: 810px) {
            font-size: 14px;
        }
    }
}