.discount {
    &__title {
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        margin: 60px;
        @media screen and (max-width: 810px) {
            font-size: 44px;
        }
    }
    &__check-block {
        display: flex;
        justify-content: center;
        margin: 25px 0 60px;
    }
    &__input-block {
        @media screen and (max-width: 810px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
    &__input {
        border-radius: 10px;
        border: 1px solid;
        width: 369px;
        height: 40px;
        gap: 30px;
        margin-right: 30px;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        background-color: #FFF;
    }

    &__form-check {
        position: absolute;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        &+label {
            color: #2D5E5E;
            position: relative;
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            padding-left: 30px;
            &::before, &::after {
                content: '';
                margin-top: 2px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
            }
            &::before {
                background: #FFF;
                border: 1px solid #2D5E5E;
                width: 15px;
                height: 15px;
            }
            &::after {
                background: #2D5E5E;
                width: 11px;
                height: 11px;
                top: 2px;
                left: 2px;
                display: none;
            }
        }
        &:checked+label::after {
            display: block;
        }
    }
}