.footer {
    background: #2D5E5E;
    height: 190px;
    display: flex;
    align-items: center;
    gap: 50px;
    &__list {
        list-style: none;
        display: flex;
        gap: 30px;
    }
    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    &__desc {
        padding-left: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #FFF;
    }
}