.footer {
    background: #2D5E5E;
    height: 190px;
    display: flex;
    align-items: center;
    gap: 50px;
    @media screen and (max-width: 810px) {
        justify-content: space-between;
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 30px;
        @media screen and (max-width: 810px) {
            gap: 15px;
            flex-direction: column;
        }
    }
    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    &__desc {
        padding-left: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #FFF;
    }
}