* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
summary {
    list-style: none;
}
.center {
    padding-left: calc(50vw - 555px);
    padding-right: calc(50vw - 555px);
    @media screen and (max-width: 810px) {
        padding-left: calc(50vw - 350px);
        padding-right: calc(50vw - 350px);
    }
}
body {
    font-family: Montserrat;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
    margin: 0;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    line-height: 24px;
    background-color: #2D5E5E;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    &:hover, &:focus {
        opacity: .7;
    }
    &:active {
        opacity: .4;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }