.offers {
    background-image: url(../img/photo_to_main_offer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 768px;
    @media screen and (max-width: 415px) {
        background-image: none;
        background-color: #9d9c97;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        padding-top: 241px;
        @media screen and (max-width: 810px) {
            font-size: 42px;
        }
        @media screen and (max-width: 415px) {
            font-size: 36px;
            line-height: 41px;
        }
    }
    &__desk {
        font-size: 24px;
        line-height: 36px;
        padding: 55px 0;
        @media screen and (max-width: 810px) {
            font-size: 20px;
        }
        @media screen and (max-width: 415px) {
            line-height: 23px;
            font-size: 16px;
            padding: 40px 0;   
        }
    }
}
