.review {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 50px;
    margin-bottom: 63px;
    &__back {
        // background-image: url(../img/Arrow-back.svg);
        background-color: #FFF;
        border: none;
        width: 17px;
        height: 30px;
        display: flex;
        grid-row-start: auto;
        cursor: pointer;
        &:hover &-arrow {
            fill: #5ab2b6;
        }
        &:active &-arrow {
            fill: #3e969c;
        }
        @media screen and (max-width: 415px) {
            display: none;
        }
    }
    &__next {
        // background-image: url(../img/Arrow-next.svg);
        background-color: #FFF;
        border: none;
        width: 17px;
        height: 30px;
        cursor: pointer;
        &:hover &-arrow {
            fill: #5ab2b6;
        }
        &:active &-arrow {
            fill: #3e969c;
        }
        @media screen and (max-width: 415px) {
            display: none;
        }
    }
    &__title {
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        @media screen and (max-width: 415px) {
            font-size: 36px;
            line-height: 43px;
        }
    }
    &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 30px;
    }
    &__comment {
        display: flex;
        justify-content: center;
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__comment-block {
        background-color: #ADDDDE;
        width: 600px;
        margin: 0 43px;
        display: grid;
        @media screen and (max-width: 415px) {
            width: auto;
            margin: 0;
        }
    }
    &__photo {
        background-color: #ADDDDE;
        margin-right: 32px;
    }
    &__name {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        color: #2D5E5E;
    }
    &__text {
        padding: 0 25px 20px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        @media screen and (max-width: 415px) {
            line-height: 18px;
            font-size: 12px;
        }
    }
}
// #review__back-arrow {
//     &:hover {
//         fill: #8fcfd1;
//     }
// }