.sign-up {
    display: grid;
    margin: 0 150px;
    @media screen and (max-width: 810px) {
        margin: 0;
    }
    &__form {
        display: grid;
        gap: 40px;
    }
    &__block-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20%;
        gap: 30px 30px;
    }
    &__block-2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 40px;
        &>.btn {
            margin-left: 35px;
        }
    }
    &__input_required {
        display: grid;
        grid-template-columns: 100%;
        grid-column: span 1;
        gap: 30px;
    }
    &__input {
        border-radius: 10px;
        border: 1px solid;
        width: 369px;
        height: 40px;
        gap: 30px;
        margin-right: 30px;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        background-color: #FFF;
        @media screen and (max-width: 810px) {
            width: 300px;
        }
    }
    &__input_wishes {
        display: grid;
        border-radius: 10px;
        border: 1px solid;
        width: 372px;
        height: 180px;
        resize: none;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 24px;
        padding-top: 7px;
        padding-left: 20px;
        @media screen and (max-width: 810px) {
            width: 340px;
        }
    }
    &__input_check {
        width: 11.03px;
        height: 11px;
        color: #2D5E5E;
    }
    &__label {
        font-size: 12px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: #2D5E5E;
        margin: 0;
    }
    .sign-up__form-check {
        position: absolute;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        &+label {
            color: #2D5E5E;
            position: relative;
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            padding-left: 30px;
            &::before, &::after {
                content: '';
                margin-top: 2px;
                display: block;
                position: absolute;
                left: 0;
                box-sizing: border-box;
              }
              &::before {
                background: #FFF;
                border: 1px solid #2D5E5E;
                width: 15px;
                height: 15px;
              }
              &::after {
                background: #2D5E5E;
                width: 11px;
                height: 11px;
                left: 2px;
                display: none;
              }
        }
        &:checked+label::after {
            display: block;
        }
    }
    &__title {
        margin: 60px 0 50px;
        text-align: center;
        font-size: 48px;
        line-height: 72px;
    }
    // &__inout_label {
    // }
    &__input_label>select {
        appearance: none;
        position: relative;
        background: url(../img/Arrow.svg) no-repeat right;
        background-position-x: 270px;
    }
}